<%- include('../../fragments/headerComputers.ejs')%>
    <main>
        <h2>Szczegóły komputera</h2>
        <form class="form">
            <label for="model">Model</label>
            <input type="text" name="model" value="<%= callback[0].model%>" id="model" disabled />
            <span></span>
            <label for="RAM">RAM</label>
            <input type="number" name="RAM" value="<%= callback[0].ram%>" id="RAM" disabled />
            <span></span>
            <label for="Disc">Dysk</abbr></label>
            <input type="number" name="Disc" value="<%= callback[0].disc%>" id="Disc" disabled />
            <span></span>
            <label for="Gpu">GPU</label>
            <input type="text" name="Gpu" value="<%= callback[0].gpu%>" id="Gpu" disabled />
            <span></span>
            <label for="customer_note">Notatka od klienta</label>
            <input type="text" name="customer_note" value="<%= callback[0].customer_note%>" id="customer_note"
                disabled />
            <span></span>
            <a href="../edit/<%= callback[0].id%>" class="list-actions-button-edit">Edytuj</a>
        </form>
        <h2>Historia napraw</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Koszt naprawy</th>
                    <th>Notatka</th>
                    <th>Serwisant</th>
                </tr>
            </thead>
            <tbody>
                <% for (let history of callback) { %>
                    <tr>
                        <td>
                            <%= history.status%>
                        </td>
                        <td>
                            <%= history.cost%>
                        </td>
                        <td>
                            <%= history.note%>
                        </td>
                        <td>
                            <%= history.name%>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <div class="form-buttons">
            <a href="/computers" class="list-actions-button-details">Powrót</a>
        </div>
        </form>
    </main>
    <%- include('../../fragments/footer.ejs')%>