<%- include('../../fragments/header.ejs')%>
    <main>
        <h2>Lista komputerów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>RAM</th>
                    <th>Dysk</th>
                    <th>GPU</th>
                    <th>Notatka od klienta</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <% for (let comp of callback) { %>
                    <tr>
                        <td>
                            <%= comp.model%>
                        </td>
                        <td>
                            <%= comp.Ram%>
                        </td>
                        <td>
                            <%= comp.Disc%>
                        </td>
                        <td>
                            <%= comp.Gpu%>
                        </td>
                        <td>
                            <%= comp.customer_note%>
                        </td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="/computers/details/<%= comp.id%>"
                                        class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/computers/edit/<%= comp.id%>" class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="/computers/delete/<%= comp.id%>"
                                        onclick="return confirm('Czy potwierdzasz usunięcie komputera: <%= comp.model%>? Usunięcie wiążę się również z usunięciem wszystkich jego dotychczasowych napraw.')"
                                        class="list-actions-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <p><a href="computers/add" class="button-add">Wprowadz nowy komputer</a></p>
    </main>
    <%- include('../../fragments/footer.ejs')%>