<%- include('../../fragments/headerRepairs.ejs')%>
    <main>
        <h2>Szczegóły naprawy</h2>
        <form class="form">
            <label for="status">Status</label>
            <input type="text" name="status" value="<%= callback[0].status%>" id="status" disabled />
            <span></span>
            <label for="date_start">Data rozpoczęcia naprawy</label>
            <input type="date" name="date_start" value="<%= callback[0].date_start%>" id="date_start" disabled />
            <span></span>
            <label for="date_end">Data zakończenia naprawy</label>
            <input type="date" name="date_end" value="<%=callback[0].date_end%>" id="date_end" disabled />
            <span></span>
            <label for="note">Notatka</label>
            <input type="text" name="note" value="<%= callback[0].note%>" id="note" disabled />
            <span></span>
            <label for="cost">Koszt naprawy</label>
            <input type="text" name="cost" value="<%= callback[0].cost%>" id="cost" disabled />
            <span></span>
            <a href="../../repairs/edit/1" class="list-actions-button-edit">Edytuj</a>
        </form>
        <h2>Serwisant</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Stanowisko</th>
                </tr>
            </thead>
            <tbody>
                <% for (let emp of callback) {%>
                    <tr>
                        <td>
                            <%= emp.name%>
                        </td>
                        <td>
                            <%= emp.surname%>
                        </td>
                        <td>
                            <%= emp.role%>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <h2>Komputer</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Notatka od klienta</th>
                    <th>RAM</th>
                    <th>Dysk</th>
                    <th>GPU</th>
                </tr>
            </thead>
            <tbody>
                <% for (let comp of callback) {%>
                    <tr>
                        <td>
                            <%= comp.model%>
                        </td>
                        <td>
                            <%= comp.customer_note%>
                        </td>
                        <td>
                            <%= comp.Ram%>
                        </td>
                        <td>
                            <%= comp.Disc%>
                        </td>
                        <td>
                            <%= comp.Gpu%>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <div class="form-buttons">
            <a href="/repairs" class="list-actions-button-details">Powrót</a>
        </div>
    </main>
    <%- include('../../fragments/footer.ejs')%>