<%- include('../../fragments/headerRepairs.ejs')%>
    <main>
        <h2>Dodaj naprawę</h2>

        <form class="form" method="POST" novalidate onsubmit="return validateForm();">
            <label for="compId">Model<abbr title="required" aria-label="reqyured">*</abbr></label>
            <select name="compId" id="compId">
                <% for (let comp of comps) {%>
                    <option value="" disabled selected hidden>-- Wybierz model --</option>
                    <option value="<%= comp.id%>"">
                        <%= comp.model%>
                    </option>
                    <% } %>
            </select>
            <span id=" errorModel" class="errors-text"></span>
                        <label for="empId">Pracownik<abbr title="required" aria-label="reqyured">*</abbr></label>
                        <select name="empId" id="empId">
                            <% for (let emp of emps) {%>
                                <option value="" disabled selected hidden>-- Wybierz pracownika --</option>
                                <option value="<%= emp.id%>">
                                    <%= emp.name%>
                                        <%= emp.surname%>
                                </option>
                                <% } %>
                        </select>
                        <span id="errorEmployee" class="errors-text"></span>
                        <span id="errorsSummary" class="errors-text"></span>
                        <input type="submit" value="Dodaj" class="form-buttons-submit" />
                        <a href="/repairs" class="form-buttons-cancel">Anuluj</a>
        </form>
        <%- include('../../fragments/footer.ejs')%>