<%- include('../../fragments/headerEmployees.ejs')%>
    <main>
        <h2>Szczegóły pracownika</h2>
        <form class="form">
            <label for="firstName">Imie</label>
            <input type="text" name="name" value="<%= callback[0].name%>" id="name" disabled />
            <span></span>
            <label for="secondName">Nazwisko</label>
            <input type="text" name="surname" value="<%= callback[0].surname%>" id="surname" disabled />
            <span></span>
            <label for="role">Stanowisko</label>
            <input type="text" name="role" value="<%= callback[0].role%>" id="role" disabled />
            <span></span>
            <a href="../../employees/edit/<%= callback[0].id%>" class="list-actions-button-edit">Edytuj</a>
        </form>
        <h2>Historia serwisów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Komputer</th>
                    <th>Notatka</th>
                    <th>Status</th>
                    <th>Naprawa rozpoczęta</th>
                    <th>Naprawda zakończona</th>
                    <th>Koszt naprawy</th>
                </tr>
            </thead>
            <tbody>
                <% for (let history of callback) { %>
                    <tr>
                        <td>
                            <%= history.model%>
                        </td>
                        <td>
                            <%= history.note%>
                        </td>
                        <td>
                            <%= history.status%>
                        </td>
                        <td>
                            <%= history.date_start%>
                        </td>
                        <td>
                            <%= history.date_end%>
                        </td>
                        <td>
                            <%= history.cost%>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <div class="form-buttons">
            <a href="/employees" class="list-actions-button-details">Powrót</a>
        </div>
    </main>
    <%- include('../../fragments/footer.ejs')%>